* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    background: #f5f5f5;
    color: #222;
}

/* NAVIGATION */
header {
    background: #111;
    padding: 20px 0;
}

nav {
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #fff;
    font-size: 24px;
}

.nav-links li {
    list-style: none;
    display: inline;
    margin-left: 20px;
}

.nav-links a {
    color: #fff;
    text-decoration: none;
    font-weight: 500;
}

.nav-links a:hover {
    color: #00c2ff;
}

/* HOME SECTION */
.home-section {
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 5%;
    background: #fff;
}

.home-text h1 {
    font-size: 42px;
}

.home-text span {
    color: #00c2ff;
}

.btn {
    display: inline-block;
    margin-top: 20px;
    padding: 12px 25px;
    background: #00c2ff;
    color: #fff;
    border-radius: 5px;
    text-decoration: none;
    font-weight: 600;
}

.home-img img {
    width: 300px;
    border-radius: 50%;
}

/* ABOUT */
.about-section {
    padding: 70px 5%;
    background: #eefaff;
}

.about-section h2 {
    text-align: center;
    margin-bottom: 30px;
}

.about-content {
    display: flex;
    align-items: center;
    gap: 40px;
}

.about-content img {
    width: 200px;
    border-radius: 10px;
}

/* SKILLS */
.skills-section {
    padding: 70px 5%;
    background: #ffffff;
}

.skills-container {
    display: flex;
    justify-content: space-between;
}

.skills-container ul {
    margin-top: 15px;
}

.skills-container li {
    margin-bottom: 8px;
}

/* PROJECTS */
.projects-section {
    padding: 70px 5%;
    background: #eefaff;
}

.project-card {
    background: #fff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
    text-align: center;
}

.project-card img {
    width: 100%;
    border-radius: 10px;
    margin-bottom: 15px;
}

.project-card a {
    display: inline-block;
    margin-top: 10px;
    text-decoration: none;
    color: #00c2ff;
    font-weight: 600;
}

/* CONTACT */
.contact-section {
    padding: 70px 5%;
    background: #fff;
    text-align: center;
}

.social-links a {
    margin: 0 10px;
    color: #00c2ff;
    text-decoration: none;
    font-weight: 600;
}

/* FOOTER */
footer {
    background: #111;
    color: #fff;
    padding: 20px;
    text-align: center;
}
